.product-main-con {
    width: 1000px;
    margin: auto;
}

.product-main-con main {
    display: flex;
    width: 100%;
    column-gap: 40px;
}

.product-main-con main button {
    font-size: 20px;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.product-main-con main button:hover{
    background-color: rgb(24, 24, 153);
}

.product-main-con section {
    padding: 30px;
    background-color: rgb(185, 183, 178);
    border-radius: 20px;
    margin-top: 70px;
}